<button *ngIf="!requested" (click)="request()" mat-raised-button class="mat-raised-button">Request Parking</button>
<mat-card *ngIf="requested">
  <mat-card-header>
      <mat-card-title>Parking K24</mat-card-title>
      <button mat-flat-button class="mat-flat-button">P</button>
  </mat-card-header>
  <mat-card-content>
      <div class="content">
        <div *ngIf="socket.hasDest() ">
          <mat-spinner></mat-spinner>
        </div>
        <div *ngIf="!socket.hasDest()">
          <app-response></app-response> 
        </div>
      </div>
  </mat-card-content>
</mat-card>